Nama : Sausan<br>
Grup : DS2

Link: https://colab.research.google.com/drive/1EQn2U4tqLLaIZ3USDmXhZ4Z-1lK9IhPt?usp=sharing


##Day 1

Selasa, 26 September 2023

#Variabel dan Tipe Data dalam Python

In [1]:
a=3

In [2]:
a

3

In [3]:
c=2

In [4]:
b=a+c
b

5

In [5]:
print(c)

2

In [6]:
c

2

In [7]:
buah='leci'

In [8]:
buah1='pepaya'

In [9]:
buah

'leci'

In [10]:
print(buah)

leci

Print : mencetak variabel/manggil output. Cetakan layar jadi tidak bisa diproses lagi

# Operasi Dasar pada Tipe Data

##Contoh penggunaan / dan //

In [11]:
#pembagian sederhana
x = 15
y = 2
print(x/y)

7.5

In [12]:
#floor division, pembulatan ke bawah
x = 15
y = 2
print(x//y)

7

In [13]:
#floor division, pembulatan ke bawah
x = 10
x//=3
print(x)

3

In [14]:
#floor division, pembulatan ke bawah
x = 9
x//=3
print(x)

3

##Contoh penggunaan comparison

In [15]:
x = 2
y = 4

print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

##Contoh penggunaan and dan or

In [16]:
x = 5
print(not(x > 3 and x < 10))

False

In [17]:
x = 5
print(x > 3 or x < 10)

True

##Contoh penggunaan is

In [18]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x==y)

True
False
True

##Contoh penggunaan not in

In [19]:
x = ["apple", 'banana']
print("pineapple" not in x)

True

##Contoh penggunaan & dan |

In [20]:
#inner join
set_1 = {"apple", "banana", "cherry", "watermelon"}
set_2 = {"mangoo", "banana", "orange", "apple"}
print(set_1 & set_2)

{'banana', 'apple'}

In [21]:
#left join
a = {1, 2, 3, 4, 5}
b = {2, 4, 5, 10, 1}
a|b

{1, 2, 3, 4, 5, 10}

#Data Struktur

In [22]:
#list
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [23]:
#dictionary
thisdict = {
    "brand" : "The Bodyshop",
    "Kategory" : "Skin Care",
    "Produk" : "Drop of Youth Essential Lotion"
}
print(thisdict)

{'brand': 'The Bodyshop', 'Kategory': 'Skin Care', 'Produk': 'Drop of Youth Essential Lotion'}

#Datetime

In [24]:
#date
import datetime

x = datetime.datetime.now()
print(x)

2023-10-08 04:25:53.577738

In [25]:
#date output
import datetime

x = datetime.datetime.now()
print(x.year)
print(x.strftime("%A"))

2023
Sunday

In [26]:
#creating data object
import datetime

x = datetime.datetime(2020,5,17)
print(x)

2020-05-17 00:00:00

##Day 2

Rabu, 27 September 2023

#Library: Numpy

In [27]:
#import library numpy
import numpy as np

In [28]:
#membuat array
x = np.array(50)
y = np.array('sausan synf')
bilangan_genap = np.array({2, 4, 6, 8, 10})

In [29]:
#cek array
print(bilangan_genap)

{2, 4, 6, 8, 10}

In [30]:
#perbedaan array dan list
list_bilangan_genap = [2, 4, 6, 8, 10]
print(list_bilangan_genap)
print(list_bilangan_genap * 2)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [31]:
#operasi pada array
nilai_mahasiswa = np.array([90,85, 77, 50, 35, 75, 80, 100])
list_nilai_mahasiswa = [90, 85, 77, 50, 35, 75, 80, 100]

In [32]:
#mencari jumlah nilai
print(sum(list_nilai_mahasiswa))
print(np.sum(nilai_mahasiswa))

592
592

In [33]:
#mencari nilai terkecil
print(min(list_nilai_mahasiswa))
print(np.min(nilai_mahasiswa))

35
35

In [34]:
#mencari nilai mean (rata2)
#print(mean(list_nilai_mahasiswa)) #error
print(np.mean(nilai_mahasiswa))
sum(list_nilai_mahasiswa)/len(list_nilai_mahasiswa)

74.0

74.0

In [35]:
nilai_mahasiswa.reshape(8, 1)

array([[ 90],
       [ 85],
       [ 77],
       [ 50],
       [ 35],
       [ 75],
       [ 80],
       [100]])

#Conditional Statement

In [36]:
#1 kondisi
current_status = 'on-delivery'
delivered = True

if delivered == True:
  current_status = 'delivered'

print(current_status)

delivered

In [37]:
#2 kondisi
x = 10

if x > 5:
  print('x greater than 5')
else:
  print('x is not greater than 5')

x greater than 5

In [38]:
#3 kondisi
x = 10

if x > 10:
  print('x greater than 10')
elif x == 10:
  print('x is equal to 10')
else:
  print('x is less than 10')

x is equal to 10

In [39]:
#3 kondisi
x = int(input('Masukkan Nilai:'))

if x > 10:
  print('x greater than 10')
elif x == 10:
  print('x is equal to 10')
else:
  print('x is less than 10')

Masukkan Nilai:100
x greater than 10

In [40]:
#multiple condition statements
#account di sebuah e-commerce

account_balance = 50000
number_of_transactions = 150

#menentukan tipe dari costumer
if account_balance >= 10000 and number_of_transactions >= 200:
  user_type = 'premium'
elif account_balance >= 500 and number_of_transactions >= 100:
  user_type = 'standard'
else:
  user_type = 'basic'

print(f'account balance: {account_balance}')
print(f'number of transactions: {number_of_transactions}')
print(f'user type: {user_type}')

account balance: 50000
number of transactions: 150
user type: standard

In [41]:
#nested if
#rekomendasi layanan streaming

prefered_genre = 'anime'
watch_ads = True

if prefered_genre == 'action':
  if watch_ads:
    streaming_service = 'service a (with ads)'
  else:
    streaming_service = 'service b'
elif prefered_genre == 'anime':
  if watch_ads:
    streaming_service = 'service c (with ads)'
  else:
    streaming_service = 'service d'
else:
  streaming_service = 'service e'

print(f'streaming service: {streaming_service}')

streaming service: service c (with ads)

#Iteration

##For Loop

In [42]:
list_angka = [1, 2, 3, 4, 5]

for i in list_angka:
  print(i)

1
2
3
4
5

In [43]:
list_angka = [1, 2, 3, 4, 5]

for i in list_angka:
  print(f'kuadrat dari (i) adalah {i**2}')

kuadrat dari (i) adalah 1
kuadrat dari (i) adalah 4
kuadrat dari (i) adalah 9
kuadrat dari (i) adalah 16
kuadrat dari (i) adalah 25

In [44]:
#range

for i in range(6):
  print(i)

0
1
2
3
4
5

In [45]:
#range

for i in range(2, 10):
  print(i)

2
3
4
5
6
7
8
9

Challenge!

Ada interview, dipilih beberapa user_id untuk di interview. <br>
Kriterianya:
- Ada 50 user_id dari 101-150
- User_id adalah bilangan kelipatan 5 yang habis dibagi 2
- Cantumkan user_id mereka (masukkan ke dalam list

In [46]:
#inisiasi list untuk menyimpan user_id yang memenuhi kriteria
user_id_interview = []

#iterasi dari 101 hingga 150
for user_id in range(101, 151):
  #memeriksa apakah user_id adalah bilangan kelipatan 5 yang habis dibagi 2
  if user_id % 5 == 0 and user_id % 2 == 0:
    user_id_interview.append(user_id)

#menampilkan user_id yang memenuhi kriteria
print("User_ID yang memenuhi kriteria:")
print(user_id_interview)

User_ID yang memenuhi kriteria:
[110, 120, 130, 140, 150]

##While Loop

In [47]:
# i = 0 #inisiasi nilai awal

#while i < 10:
#  print(i)

In [48]:
i = 0 #inisiasi nilai awal

while i <= 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10

In [49]:
list_number = range(6)
i = 0

while i < len(list_number):
  print(i)
  i += 1

0
1
2
3
4
5

In [50]:
#break
i = 1
while i < 6:
  print(i)
  if i == 4:
    break
  i += 1

1
2
3
4